{% load calendar_test %}
{% load staticfiles %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">

	<div class="row">
		<div class="col-sm-12 text-center"><h1>{% getMonth %}</h1></div>
	</div>
	<hr />
	<div class="row seven-cols">
		<div class="panel panel-default">
		<div class="col-sm-1 panel-heading text-center"><h4>Sunday</h4></div>
		<div class="col-sm-1 panel-heading text-center"><h4>Monday</h4></div>
		<div class="col-sm-1 panel-heading text-center"><h4>Tuesday</h4></div>
		<div class="col-sm-1 panel-heading text-center"><h4>Wednesday</h4></div>
		<div class="col-sm-1 panel-heading text-center"><h4>Thursday</h4></div>
		<div class="col-sm-1 panel-heading text-center"><h4>Friday</h4></div>
		<div class="col-sm-1 panel-heading text-center"><h4>Saturday</h4></div>
		</div>
	</div>

	{% for x in "12345" %}
		<div class="row seven-cols">
		<div class="panel panel-default">
		{% for y in "1234567" %}
			<!-- you would probably put an if statement here for checking if there is an event on said day -->
			<div class="col-sm-1 panel-body calendar_box calendar_border">
			</div>
		{% endfor %}
		</div>
		</div>
	{% endfor %}

	<!-- i tried to do a shitton of things so i have no idea what i'm doing anymore but feel free to scrap this for something better this is just a placeholder while i try to figure out how django works lmao -->
</div>